@font-face {
  font-family: "icomoon";
  src: url("../fonts/icons/icomoon.eot?mnks9g");
  src: url("../fonts/icons/icomoon.eot?mnks9g#iefix")
      format("embedded-opentype"),
    url("../fonts/icons/icomoon.ttf?mnks9g") format("truetype"),
    url("../fonts/icons/icomoon.woff?mnks9g") format("woff"),
    url("../fonts/icons/icomoon.svg?mnks9g#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e900";
}
.icon-thumb:before {
  content: "\e902";
}
.icon-fb:before {
  content: "\e903";
}
.icon-linkedin:before {
  content: "\e904";
}
.icon-pinterest:before {
  content: "\e905";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-youtube:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e901";
}
