.features {
  display: block;
  background-color: #333333;
  color: #e8e8e8;
  padding-top: 96px;
  padding-bottom: 110px;

  &__holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  &__item {
    width: calc(100% / 3);
    text-align: center;
    position: relative;

    @include media("<tablet") {
      width: 100%;
    }

    &::after {
      display: block;
      position: absolute;
      top: -50px;
      left: 220px;
      content: "";
      border-top: 1px dotted #e0e6ea;
      width: 300px;
      height: 130px;
      border-radius: 50%;
      @include media("<1100px") {
        display: none;
      }
    }
    &:last-child::after {
      display: none;
    }
  }

  &__icon {
    color: white;
    font-size: 60px;
    text-align: center;
    &-search {
      color: #5474fd;
    }
    &-check {
      color: #ff6363;
    }
    &-thumb {
      color: #00a2ff;
    }
  }
  &__title {
    padding-top: 15px;
    font-size: 22px;
    font-weight: 400px;
    h1 {
      font-family: "Aleo", serif;
    }
  }
}
